<div class="col-md-3">
    <br>
    <span class="btn btn-primary btn-file ">
        Ajouter <input #addGpxButton type="file" (change)="onAddGpx($event)">
    </span>
    <br>
    <br>
    <div class="list-group overflow-auto" style="max-height: 800px;">
        <a href="#" *ngFor="let path of paths" [routerLink]="['/path', protoUUIDToString(path.getId())]"
            class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{path.getName()}}</h5>
                <small>{{path.getTime().getSeconds()*1000 | date: 'dd/MM/yyyy'}}</small>
            </div>
            <p class="mb-1">Vmax : {{path.getMaxspeed() * 3.6 | number: '1.0-1' }} km/h </p>
            <p class="mb-1">Distance : {{path.getDistance() / 1000 | number: '1.0-1' }} km</p>
        </a>
    </div>
</div>
<app-map class="col-md-9"></app-map>